

<div class="row">
  <div class="col col-lrg-6">
    <div class="card" style="width: 20rem;">
     <img class="card-img-top"><%= image_tag  %></img>
     <div class="card-block">
      <h4 class="card-title"><%= @photo.title %></h4>
      <p class="card-text"><%= @photo.description %></p>
      <%= link_to "View Photo", photo_path %>
      <%= link_to "View Album", album_path %>
    </div>
   </div>
  </div>

  <!-- <div class="col col-lrg-6">
    <div class="card" style="width: 20rem;">
     <img class="card-img-top" src="..." alt="Card image cap">
     <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->
</div>

<!-- <div class="card" style="width: 20rem;">
 <img class="card-img-top" src="..." alt="Card image cap">
 <div class="card-block">
  <h4 class="card-title">Card title</h4>
  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="#" class="card-link">Card link</a>
  <a href="#" class="card-link">Another link</a>
</div> -->
